IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "button_1" 3;
IO_PORT "button_1" IO_TYPE=LVCMOS18;

IO_LOC  "button_2" 4;
IO_PORT "button_2" IO_TYPE=LVCMOS18;

IO_LOC  "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uart_rx" 18;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
